<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800&display=swap"
/>

<div class="cart-screen">
  <div class="main-content">
    <div class="header-navigation-bar-with-tit">
      <div class="navigation-bar">
        <img
          class="forward-icon"
          alt=""
          src="../../../assets/images/Forward light left.svg"
          routerLink="/home"
          routerLinkActive="active"
        />

        <div class="foodie">Cart</div>
        <img
          class="forward-icon1"
          alt=""
          src="../../../assets/images/Forward light right.svg"
        />
      </div>
    </div>
    <div class="shopping-checkout-item-list" *ngFor="let item of cartItems">
      <div class="shopping-checkout-item">
        <div class="container1">
          <img
            class="a-delicious-cheeseburger-with"
            [alt]="item.name"
            [src]="item.mainImage"
            routerLink="/home"
            routerLinkActive="active"
          />

          <div class="frame3">
            <div class="frame1">
              <b class="spaghetti-carbonara">{{ item.name }}</b>
              <b class="b">{{ item.price.toFixed(2) | currency : "INR" : "symbol" : "1.2-2" }}</b>
            </div>
            <div class="table-cell-form">
              <div class="frame5">
                <img
                  class="trash-icon"
                  alt=""
                  src="../../../assets/images/Trash.svg"
                  (click)="decreaseQuantity(item)"
                />

                <b class="b1">{{ item.stock }}</b>
                <img
                  class="trash-icon"
                  alt=""
                  src="../../../assets/images/Plus Small.svg"
                  (click)="increaseQuantity(item)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shopping-checkout-footer-with">
      <div class="delivery">
        <b class="spaghetti-carbonara">Delivery</b>
        <div class="arrives-by-1230">Arrives by 12:30 PM</div>
        <div class="frame9">
          <div class="edit-location">Edit Location</div>
        </div>
      </div>
      <div class="delivery">
        <b class="spaghetti-carbonara">Pick Up</b>
        <div class="frame9">
          <div class="find-a-store">Find a Store</div>
        </div>
      </div>
      <div class="divider">
        <div class="rectangle"></div>
      </div>
      <div class="promo-code">
        <div class="labels">
          <div class="frame11">
            <b class="add-promo-code">Add Promo Code</b>
            <img
              class="plus-small-icon3"
              alt=""
              src="../../../assets/images/Plus Small.svg"
            />
          </div>
        </div>
      </div>
      <div class="divider">
        <div class="rectangle"></div>
      </div>
      <div class="promo-code1">
        <div class="labels1">
          <div class="frame11">
            <div class="subtotal">Subtotal</div>
            <div class="div">{{ totalPrice.toFixed(2) | currency : "INR" : "symbol" : "1.2-2" }}</div>
          </div>
          <div class="frame11">
            <div class="subtotal">Delivery</div>
            <div class="div">Delivery</div>
          </div>
          <div class="frame14">
            <b class="estimated-total">Estimated Total</b>
            <b class="div">{{ totalPrice.toFixed(2) | currency : "INR" : "symbol" : "1.2-2"  }}</b>
          </div>
        </div>
      </div>
      <div class="divider">
        <div class="rectangle"></div>
      </div>
      <div class="frame15">
        <div class="button-large-primary">
          <div class="place-order" (click)="placeOrder()">Place Order</div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-tab-bar-with-labels">
    <div class="tabs">
      <div class="tab1" routerLink="/home" routerLinkActive="active">
        <img class="icon" alt="" src="../../../assets/images/home.svg" />

        <div class="home">Home</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/search.svg" />

        <div class="search">Search</div>
      </div>
      <div class="tab2" routerLink="/cart" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/cart.svg" />

        <div class="cart">Cart</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/profile.svg" />

        <div class="profile">Profile</div>
      </div>
    </div>
    <div class="gesture-indicator-bar">
      <div class="rectangle3"></div>
    </div>
  </div>
</div>
