<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800&display=swap"
/>

<div class="cart-screen">
  <div class="main-content">
    <div class="header-navigation-bar-with-tit">
      <div class="navigation-bar">
        <img
          class="forward-icon"
          alt=""
          src="../../../assets/images/Forward light left.svg"
          routerLink="/productsDetails"
          routerLinkActive="active"
        />

        <div class="foodie">Cart</div>
        <img
          class="forward-icon1"
          alt=""
          src="../../../assets/images/Forward light right.svg"
        />
      </div>
    </div>
    <div class="shopping-checkout-item-list">
      <div class="shopping-checkout-item">
        <div class="container">
          <img
            class="a-delicious-cheeseburger-with"
            alt=""
            src="../../../assets/images/A delicious cheeseburger with melted cheese, lettuce, tomato, and pickles on a sesame seed bun, served on a wooden table..png"
            routerLink="/productsDetails"
            routerLinkActive="active"
          />

          <div class="frame">
            <div class="frame1">
              <b class="spaghetti-carbonara">Cheeseburger</b>
              <b class="b">$8.99</b>
            </div>
            <div class="table-cell-form">
              <div class="frame2">
                <img
                  class="trash-icon"
                  alt=""
                  src="../../../assets/images/Trash.svg"
                />

                <b class="b1">2</b>
                <img
                  class="trash-icon"
                  alt=""
                  src="../../../assets/images/Plus Small.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shopping-checkout-item">
        <div class="container1">
          <img
            class="a-delicious-cheeseburger-with"
            alt=""
            src="../../../assets/images/A colorful veggie burger made with a black bean patty, topped with avocado, lettuce, and tomato, served on a rustic wooden table..png"
            routerLink="/productsDetails"
            routerLinkActive="active"
          />

          <div class="frame3">
            <div class="frame1">
              <b class="spaghetti-carbonara">Veggie Burger</b>
              <b class="b">$7.49</b>
            </div>
            <div class="table-cell-form">
              <div class="frame5">
                <img
                  class="trash-icon"
                  alt=""
                  src="../../../assets/images/Trash.svg"
                />

                <b class="b1">1</b>
                <img
                  class="trash-icon"
                  alt=""
                  src="../../../assets/images/Plus Small.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shopping-checkout-item">
        <div class="container1">
          <img
            class="a-delicious-cheeseburger-with"
            alt=""
            src="../../../assets/images/A mouth-watering bacon burger with crispy bacon, cheddar cheese, lettuce, and tomato on a toasted brioche bun, served on a white plate..png"
            routerLink="/productsDetails"
            routerLinkActive="active"
          />

          <div class="frame3">
            <div class="frame1">
              <b class="spaghetti-carbonara">Bacon Burger</b>
              <b class="b">$9.99</b>
            </div>
            <div class="table-cell-form">
              <div class="frame5">
                <img
                  class="trash-icon"
                  alt=""
                  src="../../../assets/images/Trash.svg"
                />

                <b class="b1">3</b>
                <img
                  class="trash-icon"
                  alt=""
                  src="../../../assets/images/Plus Small.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shopping-checkout-footer-with">
      <div class="delivery">
        <b class="spaghetti-carbonara">Delivery</b>
        <div class="arrives-by-1230">Arrives by 12:30 PM</div>
        <div class="frame9">
          <div class="edit-location">Edit Location</div>
        </div>
      </div>
      <div class="delivery">
        <b class="spaghetti-carbonara">Pick Up</b>
        <div class="frame9">
          <div class="find-a-store">Find a Store</div>
        </div>
      </div>
      <div class="divider">
        <div class="rectangle"></div>
      </div>
      <div class="promo-code">
        <div class="labels">
          <div class="frame11">
            <b class="add-promo-code">Add Promo Code</b>
            <img
              class="plus-small-icon3"
              alt=""
              src="../../../assets/images/Plus Small.svg"
            />
          </div>
        </div>
      </div>
      <div class="divider">
        <div class="rectangle"></div>
      </div>
      <div class="promo-code1">
        <div class="labels1">
          <div class="frame11">
            <div class="subtotal">Subtotal</div>
            <div class="div">$57.94</div>
          </div>
          <div class="frame11">
            <div class="subtotal">Delivery</div>
            <div class="div">Delivery</div>
          </div>
          <div class="frame14">
            <b class="estimated-total">Estimated Total</b>
            <b class="div">$57.94</b>
          </div>
        </div>
      </div>
      <div class="divider">
        <div class="rectangle"></div>
      </div>
      <div class="frame15">
        <div class="button-large-primary">
          <div class="place-order">Place Order</div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-tab-bar-with-labels">
    <div class="tabs">
      <div class="tab1" routerLink="/home" routerLinkActive="active">
        <img class="icon" alt="" src="../../../assets/images/home.svg" />

        <div class="home">Home</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/search.svg" />

        <div class="search">Search</div>
      </div>
      <div class="tab2" routerLink="/cart" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/cart.svg" />

        <div class="cart">Cart</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/profile.svg" />

        <div class="profile">Profile</div>
      </div>
    </div>
    <div class="gesture-indicator-bar">
      <div class="rectangle3"></div>
    </div>
  </div>
</div>
