<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@500;800&display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
/>

<div class="product-details-screen">
  <div class="header-navigation-bar-with-tit">
    <div class="navigation-bar">
      <img
        class="forward-icon"
        alt=""
        src="../../../assets/images/Forward light left.svg"
        routerLink="/home"
        routerLinkActive="active"
      />

      <div class="foodie">Product Details</div>
      <img
        class="forward-icon1"
        alt=""
        src="../../../assets/images/Forward light right.svg"
        routerLink="/cart"
        routerLinkActive="active"
      />
    </div>
  </div>
  <div class="main-content" *ngIf="BProduct">
    <div class="shopping-product-page-image-ca">
      <div class="a-gourmet-burger-with-a-toaste">
        <img
          [alt]="BProduct.name"
          src="../../../assets/images/A gourmet burger with a toasted sesame seed bun, fresh lettuce, ripe tomato, and melted cheese on a rustic wooden table..png"
        />
        <div class="content">
          <div class="overlay"></div>
          <div class="page-indicator">
            <div class="page-indicator-pages">
              <div class="rectangle"></div>
            </div>
            <div class="page-indicator-pages1">
              <div class="rectangle1"></div>
            </div>
            <div class="page-indicator-pages1">
              <div class="rectangle1"></div>
            </div>
            <div class="page-indicator-pages3">
              <div class="rectangle3"></div>
            </div>
            <div class="page-indicator-pages4">
              <div class="rectangle4"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel">
        <img
          class="a-juicy-cheeseburger-with-melt"
          [alt]="BProduct.name || 'Product Image'"
          [src]="BProduct.mainImage"
        />

        <img
          class="a-juicy-cheeseburger-with-melt"
          [alt]="BProduct.name || 'Product Image'"
          [src]="BProduct.mainImage"
        />

        <img
          class="a-juicy-cheeseburger-with-melt"
          [alt]="BProduct.name || 'Product Image'"
          [src]="BProduct.mainImage"
        />
      </div>
    </div>
    <div class="shopping-product-page-product">
      <div class="fast-food">Fast Food</div>
      <div class="classic-beef-burger">{{ BProduct.name }}</div>
      <div class="div">
        {{ BProduct.price | currency : "INR" : "symbol" : "1.2-2" }}
      </div>
      <div class="chip-carousel-large">
        <div class="button-large-tertiary-with-ico">
          <div class="size">Size</div>
          <div class="frame">
            <div class="size">Medium</div>
            <img
              class="chevron-up-down"
              alt=""
              src="../../../assets/images/Chevron Up Down.svg"
            />
          </div>
        </div>
        <div class="chip-carousel-large1">
          <div class="button-large-with-icon" routerLink="/cart" (click)="addToCart()">
            <div class="frame1">
              <img
                class="bag-icon"
                alt=""
                src="../../../assets/images/Bag.svg"
              />
            </div>
            <div
              class="add-to-cart"
              routerLinkActive="active"
            >
              Add to Cart
            </div>
          </div>
          <div class="chip-large-2">
            <div class="frame2">
              <img
                class="bag-icon"
                alt=""
                src="../../../assets/images/Heart.svg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="a-delicious-beef">
        {{ BProduct.description }}
      </div>
      <div class="view-more">View More</div>
    </div>
    <div class="shopping-item-grid">
      <div class="shopping-cell">
        <img
          class="a-cheese-burger-with-melted-ch"
          alt=""
          src="../../../assets/images/A cheese burger with melted cheese, fresh lettuce, and ripe tomato on a sesame seed bun placed on a wooden table..png"
        />

        <div class="labels">
          <div class="a-delicious-beef">Cheese Burger</div>
          <div class="div1">
            {{ BProduct.price | currency : "INR" : "symbol" : "1.2-2" }}
          </div>
        </div>
      </div>
      <div class="shopping-cell">
        <img
          class="a-cheese-burger-with-melted-ch"
          alt=""
          src="../../../assets/images/A colorful veggie burger with a whole grain bun, topped with fresh lettuce, tomato, and avocado, placed on a rustic wooden table..png"
        />

        <div class="labels">
          <div class="a-delicious-beef">Veggie Burger</div>
          <div class="div1">
            {{ BProduct.price | currency : "INR" : "symbol" : "1.2-2" }}
          </div>
        </div>
      </div>
      <div class="shopping-cell">
        <img
          class="a-cheese-burger-with-melted-ch"
          alt=""
          src="../../../assets/images/A cheese burger with melted cheese, fresh lettuce, and ripe tomato on a sesame seed bun placed on a wooden table..png"
        />

        <div class="labels">
          <div class="a-delicious-beef">Chicken Burger</div>
          <div class="div1">
            {{ BProduct.price | currency : "INR" : "symbol" : "1.2-2" }}
          </div>
        </div>
      </div>
    </div>
    <div class="restaurant-detail-page-reviews">
      <div class="section-title">
        <div class="label-link">
          <div class="reviews">Reviews</div>
          <div class="right-hand-label">
            <div class="see-all">See All</div>
          </div>
        </div>
      </div>
      <div class="review-with-user-detail">
        <div class="table-cell">
          <img
            class="a-woman-smiling-while-holding"
            alt=""
            src="../../../assets/images/A woman smiling while holding a juicy beef burger topped with fresh lettuce, tomato, and melted cheese..png"
          />

          <div class="labels3">
            <div class="row-1">
              <div class="cassandra-lark">Cassandra Lark</div>
            </div>
            <div class="days-ago">3 days ago</div>
          </div>
        </div>
        <div class="row-1">
          <div class="rating">
            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star Fill.svg"
            />

            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star Fill.svg"
            />

            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star Fill.svg"
            />

            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star Fill.svg"
            />

            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star.svg"
            />
          </div>
        </div>
        <div class="amazing-taste-and">Amazing taste and quick delivery!</div>
      </div>
      <div class="review-with-user-detail1">
        <div class="table-cell">
          <img
            class="a-woman-smiling-while-holding"
            alt=""
            src="../../../assets/images/A person smiling while holding a delicious beef burger with fresh lettuce, tomato, and cheese..png"
          />

          <div class="labels3">
            <div class="row-1">
              <div class="cassandra-lark">Dorian Finch</div>
            </div>
            <div class="days-ago">3 days ago</div>
          </div>
        </div>
        <div class="row-1">
          <div class="rating">
            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star Fill.svg"
            />

            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star Fill.svg"
            />

            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star Fill.svg"
            />

            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star Fill.svg"
            />

            <img
              class="star-fill-icon"
              alt=""
              src="../../../assets/images/Star.svg"
            />
          </div>
        </div>
        <div class="amazing-taste-and">Great burger, will order again.</div>
      </div>
      <div class="divider">
        <div class="rectangle5"></div>
      </div>
    </div>
  </div>
  <div class="bottom-tab-bar-with-labels">
    <div class="tabs">
      <div class="tab1" routerLink="/home" routerLinkActive="active">
        <img class="icon" alt="" src="../../../assets/images/home.svg" />

        <div class="home">Home</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/search.svg" />

        <div class="search">Search</div>
      </div>
      <div class="tab2" routerLink="/cart" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/cart.svg" />

        <div class="cart">Cart</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/profile.svg" />

        <div class="profile">Profile</div>
      </div>
    </div>
    <div class="gesture-indicator-bar">
      <div class="rectangle7"></div>
    </div>
  </div>
</div>
