.leadingicon {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.foodie {
    position: absolute;
    top: 13px;
    left: 44px;
    font-weight: 800;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 132px;
}

.trailingicon1 {
    position: absolute;
    top: 12px;
    right: 16px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    object-fit: cover;
}

.navigation-bar {
    align-self: stretch;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.header-navigation-bar-with-tit {
    align-self: stretch;
    background-color: #ffd700;
    height: 44px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 3;
}

.search-icon {
    width: 18px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
}

.search-for-delicious {
    flex: 1;
    position: relative;
    line-height: 135%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.close-icon {
    width: 18px;
    position: relative;
    height: 18px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.search-field-atom {
    align-self: stretch;
    border-radius: 360px;
    background-color: rgba(126, 112, 37, 0.09);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10.5px 13px;
    gap: 8px;
}

.search-field-filled-out {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    z-index: 2;
    text-align: left;
}

.popular-items {
    position: relative;
    letter-spacing: -0.02em;
}

.frame {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.see-all {
    position: relative;
    line-height: 135%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 128px;
}

.forward-icon {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}

.right-hand-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-align: right;
    font-size: 17px;
    color: #8b6a00;
}

.table-header {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 20px 6px;
    gap: 10px;
}

.table-title-huge-with-subtitle {
    align-self: stretch;
    background-color: #fffefa;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 4;
}

.a-spicy-black-bean-burger-topp {
    width: 112px;
    position: relative;
    border-radius: 4px;
    height: 112px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
    z-index: 0;
}

.classic-cheeseburger {
    flex: 1;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.div {
    position: relative;
    font-size: 15px;
    line-height: 135%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row-1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2px;
}

.juicy-beef-patty {
    flex: 1;
    position: relative;
    line-height: 135%;
    display: -webkit-inline-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.row-3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    color: rgba(46, 42, 20, 0.62);
}

.qty-1 {
    position: relative;
}

.chip-icon {
    width: 16px;
    position: relative;
    height: 16px;
    overflow: hidden;
    flex-shrink: 0;
}

.chip-small-button-shape-icon-r {
    border-radius: 16px;
    background-color: rgba(126, 112, 37, 0.09);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 12px;
    box-sizing: border-box;
    gap: 4px;
    min-height: 28px;
}

.row-2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 0px 0px;
    font-size: 13px;
}

.labels {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 0px;
    box-sizing: border-box;
    gap: 6px;
    max-width: 271px;
    z-index: 1;
}

.divider {
    width: 393px;
    position: absolute;
    margin: 0 !important;
    bottom: 0px;
    left: 0px;
    background-color: rgba(110, 104, 73, 0.2);
    height: 1px;
    z-index: 2;
}

.food-delivery-your-item-table {
    align-self: stretch;
    background-color: #fffefa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 16px;
    position: relative;
    gap: 16px;
}

.divider2 {
    width: 393px;
    position: absolute;
    margin: 0 !important;
    bottom: 0px;
    left: 0px;
    background-color: rgba(110, 104, 73, 0.2);
    height: 1px;
    display: none;
    z-index: 2;
}

.order-items {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.food-delivery-checkout-items {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 16px;
    z-index: 3;
    font-size: 17px;
    color: #28261b;
}

.table-title-huge-with-subtitle1 {
    align-self: stretch;
    background-color: #fffefa;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 2;
}

.food-delivery-checkout-items1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 16px;
    z-index: 1;
    font-size: 17px;
    color: #28261b;
}

.food-delivery-checkout-items2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 16px;
    font-size: 17px;
    color: #28261b;
}

.table-title-huge-with-subtitle2 {
    align-self: stretch;
    background-color: #fffefa;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 0;
}

.main-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 1436px;
    z-index: 1;
    text-align: left;
    font-size: 28px;
    color: #28251b;
}

.icon {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    overflow: hidden;
    object-fit: cover;
}

.home {
    position: absolute;
    top: calc(50% + 7px);
    left: calc(50% - 15px);
    line-height: 135%;
    font-weight: 500;
}

.tab1 {
    flex: 1;
    position: relative;
    height: 40px;
    color: #8b6a00;
}

.icon1 {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 12px);
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.search {
    position: absolute;
    top: calc(50% + 7px);
    left: calc(50% - 17px);
    line-height: 135%;
    font-weight: 500;
}

.tab2 {
    flex: 1;
    position: relative;
    height: 40px;
}

.cart {
    position: absolute;
    top: calc(50% + 7px);
    left: calc(50% - 11px);
    line-height: 135%;
    font-weight: 500;
}

.profile {
    position: absolute;
    top: calc(50% + 7px);
    left: calc(50% - 16px);
    line-height: 135%;
    font-weight: 500;
}

.tabs {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.rectangle {
    position: absolute;
    bottom: 8px;
    left: calc(50% - 60px);
    border-radius: 360px;
    background-color: rgba(126, 105, 37, 0.09);
    width: 120px;
    height: 4px;
}

.gesture-indicator-bar {
    align-self: stretch;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
}

.bottom-tab-bar-with-labels {
    align-self: stretch;
    background-color: #fffefa;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 0px 0px;
    gap: 4px;
    z-index: 0;
    font-size: 11px;
    color: rgba(46, 40, 20, 0.62);
}

.home-screen {
    width: 100%;
    min-width: 400px;
    position: relative;
    background-color: #fffefa;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 17px;
    color: #28261b;
    font-family: Outfit;
}