<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800&display=swap"
/>

<div class="home-screen">
  <div class="header-navigation-bar-with-tit">
    <div class="navigation-bar">
      <img class="leadingicon" alt="" src="../../../assets/images/more.svg" />

      <div class="foodie" routerLink="/home" routerLinkActive="active">
        Burger Queen
      </div>
      <img class="trailingicon1" alt="" src="../../../assets/images/bell.svg" />
    </div>
  </div>
  <div class="search-field-filled-out">
    <div class="search-field-atom">
      <img class="search-icon" alt="" src="../../../assets/images/search.svg" />

      <div class="search-for-delicious">Search for delicious meals...</div>
      <img class="close-icon" alt="" src="../../../assets/images/Close.svg" />
    </div>
  </div>
  <div class="main-content">
    <div class="table-title-huge-with-subtitle">
      <div class="table-header">
        <div class="frame">
          <b class="popular-items">Popular Items</b>
        </div>
        <div class="right-hand-label">
          <div class="see-all">See All</div>
          <img
            class="forward-icon"
            alt=""
            src="../../../assets/images/Forward.svg"
          />
        </div>
      </div>
    </div>
    <div class="food-delivery-checkout-items">
      <div class="order-items">
        <div
          class="food-delivery-your-item-table"
          routerLink="/productsDetails"
          routerLinkActive="active"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            alt=""
            src="../../../assets/images/A spicy black bean burger topped with avocado, salsa, and fresh cilantro on a rustic wooden table..png"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">Spicy Black Bean Burger</div>
              <div class="div">$10.99</div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                A spicy black bean patty topped with avocado, salsa, and fresh
                cilantro
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div
          class="food-delivery-your-item-table"
          routerLink="/productsDetails"
          routerLinkActive="active"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            alt=""
            src="../../../assets/images/A Mushroom Swiss Burger with sautéed mushrooms and Swiss cheese on a toasted bun placed on a rustic wooden table..png"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">Mushroom Swiss Burger</div>
              <div class="div">$12.99</div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                Grilled beef patty topped with sautéed mushrooms and Swiss
                cheese
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div
          class="food-delivery-your-item-table"
          routerLink="/productsDetails"
          routerLinkActive="active"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            alt=""
            src="../../../assets/images/A Mediterranean Lamb Burger with tzatziki sauce, lettuce, and tomato on a rustic wooden table..png"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">Mediterranean Lamb Burger</div>
              <div class="div">$9.99</div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                Juicy lamb patty with tzatziki sauce, lettuce, and tomato
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider2"></div>
        </div>
      </div>
    </div>
    <div class="table-title-huge-with-subtitle1">
      <div class="table-header">
        <div class="frame">
          <b class="popular-items">Special Offers</b>
        </div>
        <div class="right-hand-label">
          <div class="see-all">See All</div>
          <img
            class="forward-icon"
            alt=""
            src="../../../assets/images/Forward.svg"
          />
        </div>
      </div>
    </div>
    <div class="food-delivery-checkout-items1">
      <div class="order-items">
        <div
          class="food-delivery-your-item-table"
          routerLink="/productsDetails"
          routerLinkActive="active"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            alt=""
            src="../../../assets/images/A crispy buffalo cauliflower burger with ranch dressing and lettuce on a rustic wooden table..png"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">Buffalo Cauliflower Burger</div>
              <div class="div">$10.99</div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                Crispy buffalo cauliflower with ranch dressing and lettuce
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div
          class="food-delivery-your-item-table"
          routerLink="/productsDetails"
          routerLinkActive="active"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            alt=""
            src="../../../assets/images/A Teriyaki Chicken Burger with grilled chicken patty, teriyaki sauce, pineapple, and lettuce on a toasted bun..png"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">Teriyaki Chicken Burger</div>
              <div class="div">$12.99</div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                Grilled chicken patty with teriyaki sauce, pineapple, and
                lettuce
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div
          class="food-delivery-your-item-table"
          routerLink="/productsDetails"
          routerLinkActive="active"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            alt=""
            src="../../../assets/images/A Mushroom Swiss Burger with sautéed mushrooms and Swiss cheese on a toasted bun placed on a rustic wooden table..png"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">Veggie Burger</div>
              <div class="div">$9.99</div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                A delicious plant-based burger with fresh veggies
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider2"></div>
        </div>
      </div>
    </div>
    <div class="table-title-huge-with-subtitle2">
      <div class="table-header">
        <div class="frame">
          <b class="popular-items">New Arrivals</b>
        </div>
        <div class="right-hand-label">
          <div class="see-all">See All</div>
          <img
            class="forward-icon"
            alt=""
            src="../../../assets/images/Forward.svg"
          />
        </div>
      </div>
      <div class="food-delivery-checkout-items2">
        <div class="order-items">
          <div
            class="food-delivery-your-item-table"
            routerLink="/productsDetails"
            routerLinkActive="active"
          >
            <img
              class="a-spicy-black-bean-burger-topp"
              alt=""
              src="../../../assets/images/A BBQ Pulled Pork Burger with slow-cooked pulled pork, BBQ sauce, and coleslaw on a toasted bun..png"
            />

            <div class="labels">
              <div class="row-1">
                <div class="classic-cheeseburger">BBQ Pulled Pork Burger</div>
                <div class="div">$10.99</div>
              </div>
              <div class="row-3">
                <div class="juicy-beef-patty">
                  Slow-cooked pulled pork with BBQ sauce and coleslaw
                </div>
              </div>
              <div class="row-2">
                <div class="chip-small-button-shape-icon-r">
                  <div class="qty-1">Qty 1</div>
                  <img
                    class="chip-icon"
                    alt=""
                    src="../../../assets/images/Chip.svg"
                  />
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          <div
            class="food-delivery-your-item-table"
            routerLink="/productsDetails"
            routerLinkActive="active"
          >
            <img
              class="a-spicy-black-bean-burger-topp"
              alt=""
              src="../../../assets/images/A Hawaiian Burger with juicy beef patty topped with grilled pineapple and teriyaki sauce on a rustic wooden table..png"
            />

            <div class="labels">
              <div class="row-1">
                <div class="classic-cheeseburger">Hawaiian Burger</div>
                <div class="div">$12.99</div>
              </div>
              <div class="row-3">
                <div class="juicy-beef-patty">
                  Juicy beef patty topped with grilled pineapple and teriyaki
                  sauce
                </div>
              </div>
              <div class="row-2">
                <div class="chip-small-button-shape-icon-r">
                  <div class="qty-1">Qty 1</div>
                  <img
                    class="chip-icon"
                    alt=""
                    src="../../../assets/images/Chip.svg"
                  />
                </div>
              </div>
            </div>
            <div class="divider"></div>
          </div>
          <div
            class="food-delivery-your-item-table"
            routerLink="/productsDetails"
            routerLinkActive="active"
          >
            <img
              class="a-spicy-black-bean-burger-topp"
              alt=""
              src="../../../assets/images/A Cheeseburger Deluxe with a juicy beef patty, melted cheese, lettuce, tomato, and pickles on a toasted bun..png"
            />

            <div class="labels">
              <div class="row-1">
                <div class="classic-cheeseburger">Cheeseburger Deluxe</div>
                <div class="div">$9.99</div>
              </div>
              <div class="row-3">
                <div class="juicy-beef-patty">
                  Classic cheeseburger with all the fixings
                </div>
              </div>
              <div class="row-2">
                <div class="chip-small-button-shape-icon-r">
                  <div class="qty-1">Qty 1</div>
                  <img
                    class="chip-icon"
                    alt=""
                    src="../../../assets/images/Chip.svg"
                  />
                </div>
              </div>
            </div>
            <div class="divider2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-tab-bar-with-labels">
    <div class="tabs">
      <div class="tab1" routerLink="/home" routerLinkActive="active">
        <img class="icon" alt="" src="../../../assets/images/home.svg" />

        <div class="home">Home</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/search.svg" />

        <div class="search">Search</div>
      </div>
      <div class="tab2" routerLink="/cart" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/cart.svg" />

        <div class="cart">Cart</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/profile.svg" />

        <div class="profile">Profile</div>
      </div>
    </div>
    <div class="gesture-indicator-bar">
      <div class="rectangle"></div>
    </div>
  </div>
</div>
