<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700;800&display=swap"
/>

<div class="home-screen">
  <div class="header-navigation-bar-with-tit">
    <div class="navigation-bar">
      <img class="leadingicon" alt="" src="../../../assets/images/more.svg" />

      <div class="foodie" routerLink="/home" routerLinkActive="active">
        Burger Queen
      </div>
      <img class="trailingicon1" alt="" src="../../../assets/images/bell.svg" />
    </div>
  </div>
  <div class="search-field-filled-out">
    <div class="search-field-atom">
      <img class="search-icon" alt="" src="../../../assets/images/search.svg" />

      <div class="search-for-delicious">Search for delicious meals...</div>
      <img class="close-icon" alt="" src="../../../assets/images/Close.svg" />
    </div>
  </div>
  <div class="main-content">
    <div class="table-title-huge-with-subtitle">
      <div class="table-header">
        <div class="frame">
          <b class="popular-items">Popular Items</b>
        </div>
        <div class="right-hand-label">
          <div class="see-all">See All</div>
          <img
            class="forward-icon"
            alt=""
            src="../../../assets/images/Forward.svg"
          />
        </div>
      </div>
    </div>
    <div class="food-delivery-checkout-items">
      <div class="order-items" *ngFor="let burger of BProducts">
        <div
          class="food-delivery-your-item-table"
          (click)="goToProductDetails(burger.id)"
          *ngIf="burger.type == 'Popular Items'"
          routerLink="/productsDetails"
          routerLinkActive="active"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            [src]="burger.mainImage"
            [alt]="burger.name"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">{{ burger.name }}</div>
              <div class="div">
                {{ burger.price | currency : "INR" : "symbol" : "1.2-2" }}
              </div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                {{ burger.description }}
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="table-title-huge-with-subtitle1">
      <div class="table-header">
        <div class="frame">
          <b class="popular-items">Special Offers</b>
        </div>
        <div class="right-hand-label">
          <div class="see-all">See All</div>
          <img
            class="forward-icon"
            alt=""
            src="../../../assets/images/Forward.svg"
          />
        </div>
      </div>
    </div>
    <div class="food-delivery-checkout-items1">
      <div class="order-items" *ngFor="let burger of BProducts">
        <div
          class="food-delivery-your-item-table"
          routerLink="/productsDetails"
          routerLinkActive="active"
          *ngIf="burger.type == 'Special Offers'"
          (click)="goToProductDetails(burger.id)"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            [alt]="burger.name"
            [src]="burger.mainImage"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">{{ burger.name }}</div>
              <div class="div">
                {{ burger.price | currency : "INR" : "symbol" : "1.2-2" }}
              </div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                {{ burger.description }}
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="table-title-huge-with-subtitle2">
      <div class="table-header">
        <div class="frame">
          <b class="popular-items">New Arrivals</b>
        </div>
        <div class="right-hand-label">
          <div class="see-all">See All</div>
          <img
            class="forward-icon"
            alt=""
            src="../../../assets/images/Forward.svg"
          />
        </div>
      </div>
    </div>
    <div class="food-delivery-checkout-items2">
      <div class="order-items" *ngFor="let burger of BProducts">
        <div
          class="food-delivery-your-item-table"
          routerLink="/productsDetails"
          routerLinkActive="active"
          *ngIf="burger.type == 'New Arrivals'"
          (click)="goToProductDetails(burger.id)"
        >
          <img
            class="a-spicy-black-bean-burger-topp"
            [alt]="burger.name"
            [src]="burger.mainImage"
          />

          <div class="labels">
            <div class="row-1">
              <div class="classic-cheeseburger">{{ burger.name }}</div>
              <div class="div">
                {{ burger.price | currency : "INR" : "symbol" : "1.2-2" }}
              </div>
            </div>
            <div class="row-3">
              <div class="juicy-beef-patty">
                {{ burger.description }}
              </div>
            </div>
            <div class="row-2">
              <div class="chip-small-button-shape-icon-r">
                <div class="qty-1">Qty 1</div>
                <img
                  class="chip-icon"
                  alt=""
                  src="../../../assets/images/Chip.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-tab-bar-with-labels">
    <div class="tabs">
      <div class="tab1" routerLink="/home" routerLinkActive="active">
        <img class="icon" alt="" src="../../../assets/images/home.svg" />

        <div class="home">Home</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/search.svg" />

        <div class="search">Search</div>
      </div>
      <div class="tab2" routerLink="/cart" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/cart.svg" />

        <div class="cart">Cart</div>
      </div>
      <div class="tab2" routerLink="/home" routerLinkActive="active">
        <img class="icon1" alt="" src="../../../assets/images/profile.svg" />

        <div class="profile">Profile</div>
      </div>
    </div>
    <div class="gesture-indicator-bar">
      <div class="rectangle"></div>
    </div>
  </div>
</div>
