/* You can add global styles to this file, and also import other style files */


body {
	background-color: black;
	width: 100vw;
	display: flex;
	justify-content: center; /* Centers horizontally */
	align-items: center; /* Centers vertically */
	margin: 0;
  	line-height: normal;
}